click==8.1.7
cloudpickle==3.0.0
contourpy==1.2.0
cycler==0.12.1
dask==2024.3.0
dask-expr==1.0.1
DateTime==5.4
ffmpeg-python==0.2.0
fonttools==4.49.0
fsspec==2024.2.0
future==1.0.0
importlib_metadata==7.0.2
kiwisolver==1.4.5
livesplit-parser==0.2.1
locket==1.0.0
matplotlib==3.8.3
numpy==1.26.4
packaging==24.0
pandas==2.2.1
partd==1.4.1
pillow==10.2.0
pyarrow==15.0.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
seaborn==0.13.2
six==1.16.0
toolz==0.12.1
tzdata==2024.1
XlsxWriter==3.2.0
xmltodict==0.13.0
zipp==3.17.0
zope.interface==6.2
